/* .dashboard-content {
  padding: 20px;
}

.product-card {
  display: flex;
  border: 1px solid #e0e0e0;
}

.product-carousel .carousel-inner {
  height: 100%;
}

/* .product-image {
  object-fit: cover;
} */
/*.product-image-container {
  width: 100%; 
  height: 200px;
  overflow: hidden; 
}

.product-image {
  width: 100%;
  height: 100%;
   object-fit: cover;  
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1rem;
}

.product-ratings {
  display: flex;
  align-items: center;
}

.star-rating {
  color: #ffc107;
  margin-right: 5px;
}

.rating-count {
  font-size: 1 rem;
  color: #777;
}

.product-price {
  font-size: 1.5rem;
  color: #28a745;
}

.old-price {
  font-size: 1rem;
  color: #dc3545;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-description {
  font-size: 1.3rem;
  color: #333;
}

.product-stock {
  font-size: 0.875rem;
  color: #007bff;
}

.add-to-cart-button {
  background-color: #ffcc00;
  border: none;
  color: #333;
  font-size: 1rem;
} */

.dashboard-content {
  padding: 20px;
}

.product-card {
  display: flex;
  border: 1px solid #e0e0e0;
}

.product-carousel .carousel-inner {
  height: 100%;
}

.product-image {
  /* object-fit: cover; */
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  padding: 1rem;
}

.product-info {
  padding: 30px;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1rem;
}

.product-ratings {
  display: flex;
  align-items: center;
}

.star-rating {
  color: #ffc107;
  margin-right: 5px;
}

.rating-count {
  font-size: 1 rem;
  color: #777;
}

.product-price {
  font-size: 1.5rem;
  color: #28a745;
}

.old-price {
  font-size: 1rem;
  color: #dc3545;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-description {
  font-size: 1.3rem;
  color: #333;
}

.product-stock {
  font-size: 0.875rem;
  color: #007bff;
}

.add-to-cart-button {
  background-color: #ffcc00;
  border: none;
  color: #333;
  font-size: 1rem;
}
